.friend-container {
  border: 2px solid rgb(230, 176, 76);
  background-color: rgb(250, 234, 206);
  width: 45%;
  height: 80px;
  margin: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-username {
  margin-left: 1.25%;
}

.message-icon-trash-container {
  width: 100px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.message-friend-icon {
  font-size: 21px;
  margin-right: 1.5%;
  /* border: 2px solid black; */
  color: black;
  font-size: 25px;
}

.trash-icon {
  width: 50px;
  font-size: 25px;
}

.remove-friend-text {
  margin-left: 5px;
}