.friend-container {
  border: 2px solid rgb(230, 176, 76);
  background-color: rgb(250, 234, 206);
  width: 45%;
  height: 80px;
  margin: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-username {
  margin-left: 1.25%;
}

.message-friend-icon {
  font-size: 21px;
  margin-right: 1.5%;
  color: black;
}