.master-home-container {
    /* border: 2px solid black; */
    width: 100%;
    max-width: 100%;
    height: 3700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    scroll-margin: 0;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
}

.home-header-container {
  /* border: 2px solid navy; */
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  /* background-color: grey; */
}


.the-about-container {
  /* border: 2px solid purple; */
  width: 95%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: grey; */
}

.main-features-container {
  /* border: 2px solid blue; */
  width: 95%;
  height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: grey; */
}

.footer {
  border: 2px solid red;
  height: 200px;
  width: 90%;
  /* background-color: grey; */
}



.header-container,
.master-about-container,
.master-features-container,
.footer {
  width: 100%;
  margin: 0 0 4% 0;
  
}

.about-us {
  /* border: 2px solid red; */
  font-size: 100px;
  /* opacity: 0; */
}

.about-us-container {
  width: 95%;
  border: 2px solid black;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* opacity: 0; */
}

.about-box {
  border: 2px solid black;
  width: 400px;
  height: 350px;
  /* opacity: 0; */
}

.features {
  font-size: 100px;
}

.features-container {
  border: 2px solid red;
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2% 0;
}

.features-image {
  border: 2px solid black;
  width: 300px;
  height: 300px;
}

.features-description {
  border: 2px solid black;
  width: 500px;
  height: 200px;
}
