.login {
  font-weight: 500;
}

.master-login-container {
  /* border: 2px solid black; */
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 500px;
  height: 450px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.login-form {
  /* border: 2px solid blue; */
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 3%;
}

.input-field {
  font-size: 22px;
  height: 42px;
}

.form-button-submit {
  width: 60%;
  align-self: center;
  font-size: 25px;
  height: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.login-prompt {
  border: 2px solid black;
}

#error {
  align-self: center;
}