.master-message-container {
  border: 2px solid black;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.message-form-container {
  align-self: flex-start;
  margin-top: 7%;
}

.message-form {
  width: 600px;
  height: 200px;
  border: 2px solid red; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-area {
  width: 90%;
  height: 200px;
}

.message-page-button {
  width: 200px;
  height: 80px;
}

.chat-log {
  border: 2px solid black;
  width: 500px;
  height: 600px;
}