.nav {
  height: 100px;
  width: 99%;
  padding: 0 10px;
  margin: 0px;
  /* border: 2px solid navy; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
	position: sticky;
	top: 0;

}

.nav-span {
  /* border: 2px solid black; */
  width: 85px;
  height: 85px;
}

.nav-list {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 85px;
}

.nav-item {
  list-style: none;
}