.nav {
  height: 80px;
  width: 100%;
  margin: 0px;
  /* border: 2px solid navy; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
	position: sticky;
	top: 0;
  z-index: 2;

}

.nav-span {
  /* border: 2px solid black; */
  width: 300px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.nav-list {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 85px;
  padding-right: 1em;
}

.nav-item {
  list-style: none;
  color: white;
  text-decoration: none;
}

/* yahya css */
.nav-expand{
display: none;
}

.nav-list:hover .nav-expand{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  animation: left-to-right 0.75s ease-in-out forwards;
}
.nav-list:hover {
  animation: expansion 0.4s ease-in-out forwards;
}

@keyframes left-to-right{
  0%{
    overflow: visible;
    opacity: 0;
    transform: translateX(-10%);
  }
  100%{
    opacity: 1;
  }
}
@keyframes expansion{
  0%{
  }
  100%{
    width: 500px;
  }
}

/* yahya css */