.pop-up-container {
  width: 400px;
  height: 70px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  align-self: center;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.registration-hobby-container {
  width: 90%;
  height: 90%;
  border: 2px solid rgb(230, 176, 76);
  background-color: rgb(241, 218, 179);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.register-hobby-form {
  width: 850px;
  height: 500px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.register-hobby-input {
  font-size: 21px;
  width: 250px;
  margin: 6px 0;
}

.err {
  color: rgb(233, 166, 43);
  align-self: center;
  font-size: 18px;
}

.hobby-one-two-container {
  border: 2px solid blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 300px;

}

.hobby-form-one,
.hobby-form-two {
  border: 2px solid black;
  width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}



.pop-up-button {
  width: 200px;
  height: 60px;
  background-color: rgb(230, 176, 76);
  transition: 0.4s background-color ease;
  border: 1px solid black;
  margin-bottom: 7px;
  font-size: 19px;
 
}

.pop-up-button:hover {
  background-color: rgb(241, 218, 179);
  /* color: white; */
}
