.pop-up-container {
  width: 50%;
  height: 70px;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 15%;
  left: 20%;
  background-color: white;
}

.pop-up-button {
  align-self: flex-end;
  margin: 5px;
}