.register {
  font-weight: 300;
}

.master-register-container {
  /* border: 2px solid black; */
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  width: 80%;
  height: 65%;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.register-header {
  align-self: center;
}
.register-form {
  border: 2px solid blue;
  width: 74%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3%;
}

.register-form-left-and-right {
  border: 2px solid purple;
  width: 830px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-left,
.register-form-right {
  border: 2px solid black;
  width: 400px;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.register-input-field {
  font-size: 22px;
  height: 42px;
  width: 300px;
}

.button-container {
  /* border: 2px solid grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  margin-top: 1.5%;
}



