.header-container {
  display: flex;
  border: 2px solid black;
  width: 800px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.register-header {
  font-weight: 500;
  /* border: 2px solid red; */
}

.register-subheading {
  font-size: 20px;
  /* border: 2px solid blue; */
  align-self: flex-start;
  text-decoration: underline;
  margin-left: 5%;
  margin-bottom: 1%;
  font-size: 1.3em;
}

.master-register-container {
  /* border: 2px solid black; */
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  width: 70%;
  height: 63%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-header {
  align-self: center;
}
.register-form {
  /* border: 2px solid blue; */
  width: 90%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  flex-wrap: wrap;
}

.register-form-left-and-right {
  /* border: 2px solid purple; */
  width: 98%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-left,
.register-form-right {
  /* border: 2px solid black; */
  width: 400px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.register-input-field {
  font-size: 22px;
  height: 42px;
  width: 300px;

}


.button-container {
  /* border: 2px solid grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  margin-top: 1.5%;
  align-self: center;
}

.register-image {
  /* border: 2px solid black; */
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 0.2%;
  align-self: flex-start;
}


