.view-container {
  border: 2px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.view-header-container {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
}

.view-body-container {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 1200px;
}


.user-container {
  border: 2px solid red;
  width: 400px;
  height: 220px;
  margin: 10px;
}

.user-header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.user-image {
  margin-left: 1%;
}

.user-name {
  margin-right: 1.5%;
}